.build{
  background-color: #012F34;
  padding: 140px 0;
  background-image: url(../../img/buildbg.png);
  background-repeat: no-repeat;
  background-size: 200px 244px;
  background-position: left calc(50% + 750px) bottom;
}

.inner{
  display: flex;
}

.left{
  width: 445px;
}

.left__line{
  display: inline-block;
  width: 50px;
  height: 4px;
  margin-bottom: 54px;
  background-color: #F67E7E;
}

.left__title{
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
}

.right{
  margin-top: 58px;
  margin-left: auto;
}

.right__list{
  margin: 0;
  padding: 0;
  list-style: none;
}

.right__item{
  display: flex;
  margin: 0;
  padding: 0;
}

.right__content{
  width: 445px;
  margin-bottom: 32px;
}

.right__img{
  margin-right: 23px;
}

.right__title{
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #F67E7E;
}

.right__text{
  margin: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  opacity: 0.8;
}

@media only screen and(max-width:768px){
  .build{
    background-image: url(../../img/buildbg.png);
    background-repeat: no-repeat;
    background-size: 200px 244px;
    background-position: calc(50% + 380px) top;
  }

  .inner{
    flex-direction: column;
    padding-left: 68px;
  }

  .right{
    margin: 0;
  }

  .left__title{
    margin: 0;
    margin-bottom: 64px;
    font-size: 32px;
    line-height: 32px;
  }

}

@media only screen and(max-width:576px){
  
  .build{
    background-image: url(../../img/buildbg.png);
    background-repeat: no-repeat;
    background-size: 200px 244px;
    background-position: calc(50% + 288px) top;
  }

  .inner{
    flex-direction: column;
    padding-left: 68px;
  }

  .inner__left{
    width: 100%;
    max-width: 240px;
    margin-left: 60px;
  }

  .right__item{
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .right__content{
    text-align: center;
    width: 100%;
    max-width: 327px;
  }

  .right{
    margin: 0;
  }

  .left__title{
    margin: 0;
    margin-bottom: 56px;
    font-size: 32px;
    line-height: 32px;
  }
}

@media only screen and(max-width:320px){
  .inner__left{
    width: 100%;
    max-width: 240px;
    margin-left: 0;
  }
}